/* ===== TEMAS GLOBAIS ===== */
:root {
  --creme: #FFFBEC;
  --creme-claro: #FFFBED;
  --azul-escuro: #1B475D;
  --azul-escuro-hover: #163947;
  --branco: #ffffff;
  --cinza-claro: #f5f5f5;
  --cinza-borda: #e0e0e0;
  --cinza-texto: #666;
  --verde: #8EBD9D;
  --amarelo: #FAD564;
  --amarelo-light: rgba(250, 213, 100, 0.5);
  --vermelho: #FF6B6B;
  --sombra: 0 4px 12px rgba(0, 0, 0, 0.08);
  --transicao: all 0.3s ease;
    --background: #ffffff;
  --texto: #1B475D;
}

body {
  background-color: var(--background);
  color: var(--texto);
}

/* ===== Tema Escuro ===== */
body.dark-mode {
  --creme-claro: #1e1e1e;
  --cinza-borda: #353535;
  --azul-escuro: #e7e7e7;
  --cinza-texto: #c9c9c9;
  --branco: #ffffff;
  --creme: #282828;
  --background: #121212;
  --texto: #ffffff;
}
